!!! 5
%html
  %head
    %title Ruby in the Browser
    %style
      :plain
        body {
          margin: 20px;
        }
  %body
    %h1
      Ruby in the Browser
    %p
      Practice your Ruby skills right in the browser.
    %ol
      %li
        %a{:href => '/lesson/triple_string'} Triple a String
      %li
        %a{:href => '/lesson/sum_of_squares'} Sum of Squares
