!!! 5
%html
  %head
    %title Ruby in the Browser
    %style
      :plain
        body {
          margin: 20px;
        }
        textarea {
          width: 475px;
        }
        div#left {
          width: 500px;
        }
        div#right {
          position: absolute;
          top: 0px;
          left: 525px;
          width: 400px;
        }
        .pass_string {
          color: green;
          font-weight: bold;
        }
        .fail_string {
          color: red;
          font-weight: bold;
        }
  %body
    = yield
